<link href='http://fonts.googleapis.com/css?family=Noticia+Text' rel='stylesheet' type='text/css'>

<h1>What is your favorite [tithead] film?</h1>
<p>Please select only one!</p>
<table cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.title, topic %></td>
    <td><%= pluralize(topic.votes.length, "vote") %></td>
    <td><%= button_to '+1', votes_path(topic_id:topic.id), method: :post %></td>
    <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you Sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
