<!DOCTYPE html>
<html>
<head>
  <title>Dhwi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Titular Head: Best of the Best</h1>
		<nav>
  			<ul>
    			<li><%= link_to 'Home', root_path %></li>
    			<li><%= link_to 'Add a Topic', new_topic_path %></li>
    			<li><%= link_to 'About', pages_about_path %></li>
  			</ul>
		</nav>
	</header>	
<% flash.each do |name, msg| %>
	<div><%= msg %></div>
<% end %>
<%= yield %>
	<footer>
			<p>Created by Caitlin Wells</p>
			<p>Email: caitlin.r.wells@gmail.com</p>
				<ul>
					<li><%= link_to image_tag('twitter.png'), "http://www.twitter.com/wellscai" %></li>
					<li><%= link_to image_tag('facebook.png'), "https://www.facebook.com/caitlin.r.wells" %></li>
					<li><%= link_to image_tag('youtube.png'), "http://www.youtube.com/user/wellscai?feature=mhee" %></li>
				</ul>
	</footer>
</body>
</html>
