<!DOCTYPE html>
<html>
<head>
  <title>Dhwi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Caitlin's DHWI Application</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/topics/new">Create topic</a></li>
				<li><a href="/about.html">About</a></li>
			</ul>	
		</nav>
	</header>	
<% flash.each do |name, msg| %>
	<div><%= msg %></div>
<% end %>
<%= yield %>

</body>
</html>
